<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueDeepDive</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <!-- <div>{{ message }}</div>
      <div>My age in 5 years will be {{ myAge + 5 }}</div>
      <header>
        <h1>Vue Course Goals</h1>
      </header>
      <section id="user-goal"></section>
      <h2>My Course Goal</h2>
      <p v-html="outputGoal()"></p>
      <p>Learn more <a v-bind:href="vueLink">Vue Docs</a></p>
      <img v-bind:src="vueImageLink" alt="" />
      <div>{{Math.random()}}</div>
      <input v-bind:value="message" type="text" /> -->

      <button v-on:click="addToCounter(num)">Add</button>
      <button v-on:click="reduceCounter(num)">Reduce</button>
      <p>Resoult:{{counter}}</p>
      <input
        type="text"
        v-on:keyup.enter="confirmeName( 'alfonzo')"
        v-on:input="setName($event, 'alfonzo')"
        name=""
        id=""
      />
      <p>Your Name: {{name}}</p>
      <p
        v-if="isValid"
        :class="isValid?'valid':''"
        :class.add="{moreValid:isValid}"
      >
        Your Confirmed name {{confirmedName}}
      </p>
      <p v-else>Your Confirmed name is not valid</p>
      <input type="text" v-bind:value="name" v-on:input="setName()" />
      <button v-on:click="resetInput">Reset input</button>
      <p v-for="detail in details">{{detail}}</p>
      <h3 v-for="size in sizes" :key="size.id" :id="size.id">{{size.size}}</h3>
      <p v-for="variant in variants" @mouseover="updateColor(variant.color)">
        {{variant.color}}
      </p>
      <product-display :color="color"></product-display>
      <product-display :color="color"></product-display>
      <product-display :color="color"></product-display>
    </div>
    <!-- app -->
    <script src="./App.js"></script>
    <!--component  -->
    <script src="./newVueComponent.js"></script>
    <script>
      app.mount("#app");
    </script>
  </body>
</html>
